 

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <h1>XYZ SCHOOL</h1>
    <div class="row">
      <div class="col-8">
        <h5 style="color: white;">Where we believe in providing a well-rounded education to our students. Our dedicated faculty and staff work together to create a safe and nurturing learning environment for students of all ages. Thank you for visiting our website and we hope to see you soon at XYZ School!</h5>
      </div>
      <div class="col-4">
      </div>
    </div>
    <br><a class="btn-get-started scrollto" routerLink="/login">Get Started</a>
  </div>
</section><!-- End Hero -->

<router-outlet></router-outlet>


<main id="main">
  <section id="about" class="about">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <span>About</span>
        <h2>About</h2>
        <p>Learn about XYZ school</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="assets/img/about1.jpeg" class="img-fluid" alt="" style="height: 275px;"><br><br>    
          <ul>
            <li><i class="bi bi-check-circle"></i> A well-rounded education that combines theoretical and practical knowledge.</li>
            <li><i class="bi bi-check-circle"></i> A strong emphasis on hands-on learning and experiential education.</li>
          </ul>      
        </div>
        <h5 style="font-size: 20px; text-align: center;">XYZ School is a modern and innovative educational institution that offers both technical and scientific programs to students of all ages. Our technical program, known as "Tecnico," provides students with the skills and knowledge necessary to excel in fields such as engineering, technology, and applied sciences. Our scientific program, known as "Scientifico," offers a comprehensive education in traditional academic subjects such as mathematics, science, and literature.</h5>
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="assets/img/about1.jpeg" class="img-fluid" alt="" style="height: 275px;"><br><br>
          <ul>
            <li><i class="bi bi-check-circle"></i> An innovative and modern learning environment.</li>
            <li><i class="bi bi-check-circle"></i> Opportunities for students to gain real-world experience through internships</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  



  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <span>Services</span>
        <h2>Services</h2>
        <p>XYZ School may offer a variety of support services to students</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Athletic facilities</a></h4>
            <p>The school may have a variety of athletic facilities, such as a gymnasium, fields, and courts, that are available for use by students and teams.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Career services</a></h4>
            <p>The school may offer career services, such as job fairs and career counseling, to help students plan for their future careers.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Special needs services</a></h4>
            <p>The school may have specialized programs or resources for students with special needs, such as those with disabilities or learning difficulties.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->


  

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Call To Action</h3>
        <p> XYZ School is committed to providing a safe and secure environment for all students, staff, and visitors. We take the safety and security of our school community very seriously and have implemented a variety of measures to ensure the well-being of everyone on campus.

          Our school has a security team that patrols the campus regularly and monitors security cameras to ensure that everyone is safe. We also have strict visitor policies in place, requiring all visitors to sign in and wear identification badges while on campus.
</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>

    </div>
  </section><!-- End Cta Section -->


 
  

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <span>Contact</span>
        <h2>Contact</h2>
        <p>"Contact XYZ School"  Our dedicated staff is here to answer any questions you may have and provide you with the information you need to make an informed decision about your education.</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>Via Francesco Gatti, Technical Institute Galvani</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <p>xyz@school.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>+39 331 543 3064</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>XYZ</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
      Designed by Livera&Santa
    </div>
  </div>
</footer><!-- End Footer -->





