<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Exams List</h2>
      <nav class="navbar navbar-expand-sm bg-dark" style="color: white; "> 
        <ul style="margin-left: 100px;">
              <a routerLink="/add" class="btn-get-started scrollto" routerLinkActive="active">Add Exam</a>
              <a (click)="back()" style="cursor: pointer; right: 0;" class="btn-get-started scrollto" routerLinkActive="active">Back</a>
        </ul>
      </nav><br>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Course</td>
            <td>Type</td>
            <td>Difficulty</td>
            <td>Duration</td>
            <td>Class</td>
            <td>Subject</td>
            <td></td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{row.id}}</td>
            <td>{{row.title}}</td>
            <td>{{row.course}}</td>
            <td>{{row.tipo}}</td>
            <td>{{row.difficulty}}</td>
            <td>{{row.duration}}</td>
            <td>{{row.classe}}</td>
            <td>{{row.subject}}</td>
            <td>         
              <a href="{{row.link}}" class="btn btn-warning btn-download btn-sm"><i class="bi bi-download"></i></a>
            </td>
            <td width="150">
              <button (click)="updateverifSci(row.id)" class="btn btn-warning" style="margin-left: 10px"><i class="bi bi-pencil-square"></i></button>
              <button (click)="deleteverifSci(row.id)" class="btn btn-danger" style="margin-left: 10px"><i class="bi bi-trash3"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>