<nav class="navbar navbar-expand-sm bg-dark" style="color: white; "> 
    <ul style="margin-left: 5px;">
        Logged in :<strong></strong> <a (click)="logout()" style="cursor: pointer; right: 0;" class="btn-get-started scrollto" routerLinkActive="active">Logout</a>

    </ul>
</nav>


<div class="container">
    <div class="row d-flex justify-content-center" >
        <div class="col text-center">
            <img src="assets/img/tec.jpg" alt="Image" class="img-fluid mb-4 mt-4" style="height: 400px; width: 400px;" ><br>
            <button (click)="tec()" type="button" class="btn btn-outline-secondary btn-lg">Istituto Tecnico</button>
        </div>
        <div class="col text-center">
            <img src="assets/img/lic.jpg" alt="Image1" class="img-fluid mb-4 mt-4" style="height: 400px; width: 400px;" ><br>
            <button (click)="sicn()"type="button" class="btn btn-outline-secondary btn-lg">Liceo Scientifico</button>
        </div>
    </div>
</div>